[submodule "rust/app_android"]
	path = rust/app_android
	url = https://github.com/123IandU/app_android.git
[submodule "rust/app_wasm"]
	path = rust/app_wasm
	url = https://github.com/123IandU/AstroBox-NG-Module-AppWasm.git
